:root {
    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: #0a0a0a;
    /*black*/
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* =============== HEADER =============== */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    width: 840px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
}

header img {
    max-height: 75px;
    width: auto;
    display: block;
    object-fit: contain;
}

/* =============== NAV =============== */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.6rem 0;
    line-height: 1;
    white-space: nowrap;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e9c46a;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* =============== MAIN & FOOTER CONTAINER =============== */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* =============== HERO SECTION =============== */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
}

.hero article h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}